.container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputBox {
  margin: 0 0 16px;
}

.inputBox label {
  display: inline-block;
  margin-bottom: 4px;
}

.inputBox input {
  width: 100%;
  display: block;
  padding: 8px;
}

.inputBox input[aria-invalid=true] {
  border: 2px solid red;
}

.submitButton {
  width: 100%;
  padding: 4px 8px;
}
